<nav class="navbar navbar-expand-lg bg-white sticky-top border-bottom py-3">
  <div class="container">
    <!-- Logo -->

    <a class="navbar-brand fw-bold fs-3 text-dark" href="/">
      <i class="fa-solid fa-baht-sign text-danger me-2"></i>
      TheBNB
    </a>

    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-lg-center gap-lg-2">
        <li class="nav-item">
          <a class="nav-link fw-medium" href="/listings"> Explore </a>
        </li>

        <% if(currUser){ %>

        <li class="nav-item">
          <a class="nav-link fw-medium" href="/listings/new"> Add Listing </a>
        </li>

        <li class="nav-item">
          <a href="/logout" class="btn btn-outline-dark px-4"> Logout </a>
        </li>

        <% } else { %>

        <li class="nav-item">
          <a class="nav-link fw-medium" href="/login"> Login </a>
        </li>

        <li class="nav-item">
          <a href="/signup" class="btn btn-dark px-4"> Sign Up </a>
        </li>

        <% } %>
      </ul>
    </div>
  </div>
</nav>
