<% layout('/layouts/Boilerplate.ejs') %>

<body>
  <div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
      <h1><%= statusCode %></h1>
      <p><%= message %></p>
    </div>
  </div>
</body>
